@charset "UTF-8";
:root {
  /* Primary colors */
  --color-blue: #2B7FFF;
  --color-white: #fff;
  --color-dark-blue: #011C44;
  /* Secondary colors */
  --dark-grey-color: #4A4A4A;
  --grey-color: #747272;
  --dark-blue-color: #011F4A;
  --yellow-color: #FFD02B;
  --text-play: Play;
  --text-roboto: Roboto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  color: var(--color-dark-blue);
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-dark-blue);
}

.buttom {
  width: 230px;
  padding: 16px 32px;
  border-radius: 32px;
  font-weight: 600;
  font-size: 18px;
  background: var(--color-blue);
  border: 2px solid var(--color-blue);
  color: var(--color-white);
  border-radius: 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

.buttom:hover {
  background: none;
  color: var(--dark-blue-color);
}

.h__span {
  color: var(--color-blue);
}

.forms__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8;
}
.forms__button > input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  width: 100%;
  padding: 16px 24px;
  border-radius: 32px;
  border: 1px solid var(--color-blue);
  background: var(--color-blue);
  color: var(--color-white);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  text-wrap: inherit;
  line-height: 19px;
  text-align: center;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.forms__button > input:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
}
.forms__button > p {
  color: rgb(116, 114, 114);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}

.forms__file {
  color: rgb(116, 114, 114);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 100px;
  }
}
.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.header__container.headeroff {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav .nav__ul {
  display: none;
}
.header .icon__ul {
  display: none;
}
.header .header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  padding: 2px;
  cursor: pointer;
}
.header .header__button > svg {
  fill: var(--color-blue);
  width: 22px;
  height: 22px;
}
.header .link__icon > svg {
  width: 30px;
  height: 30px;
  fill: var(--dark-blue-color);
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.header .link__icon > svg:hover {
  fill: var(--color-blue);
}
.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  z-index: 15;
  background-color: var(--color-white);
  padding: 35px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: opacity 0.3s, visibility 0.3s, width 0.6s, -webkit-transform 0.5s;
  transition: opacity 0.3s, visibility 0.3s, width 0.6s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.3s, visibility 0.3s, width 0.6s;
  transition: transform 0.5s, opacity 0.3s, visibility 0.3s, width 0.6s, -webkit-transform 0.5s;
  opacity: 0;
  visibility: hidden;
}
.header__menu.header__menu__on {
  width: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.header__menu__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}
.header__button__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34px;
  height: 34px;
  border: none;
  background-color: transparent;
  padding: 2px;
  cursor: pointer;
}
.header__button__close > svg {
  fill: var(--color-blue);
}
.header .nav__ul__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}
.header .link {
  color: var(--color-dark-blue);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header .link:hover {
  color: var(--color-blue);
}
.header .icon__ul__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 27px;
}

@media screen and (min-width: 1024px) {
  .header {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px 0;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav .nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 56px;
  }
  .header .header__button {
    display: none;
  }
  .header .icon__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 43px;
  }
  .header .icon__ul .link {
    color: var(--color-dark-blue);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .header .icon__ul .link:hover {
    color: var(--color-blue);
  }
  .header .link__icon > svg {
    width: 30px;
    height: 30px;
    fill: var(--dark-blue-color);
    -webkit-transition: fill 0.3s;
    transition: fill 0.3s;
  }
  .header .link__icon > svg:hover {
    fill: var(--color-blue);
  }
}
.hero {
  position: relative;
  width: 100%;
  background: linear-gradient(94.33deg, rgb(255, 255, 255) 30.533%, rgba(255, 255, 255, 0.85) 41.2%, rgba(255, 255, 255, 0.19) 58.516%, rgba(255, 255, 255, 0) 72.621%);
}
.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 125px 0 125px 0;
  width: 100%;
}
.hero__container__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 40px;
}
.hero__container__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
}
.hero__content__1 {
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}
.hero__content__title {
  color: var(--color-blue);
  font-family: Play;
  font-size: 54px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.hero__button {
  margin-bottom: 24px;
}
.hero__content__2 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 125px 0 125px 0;
    width: 100%;
  }
  .hero__container__1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin-bottom: 40px;
  }
  .hero__container__2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 240px;
  }
  .hero__content__1 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
  }
  .hero__content__title {
    width: 40%;
    color: var(--color-blue);
    font-family: Play;
    font-size: 140px;
    font-weight: 700;
    line-height: 114px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
  }
  .hero__button {
    margin-bottom: 14px;
  }
  .hero__content__2 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.transform {
  margin-bottom: 176px;
}
.transform__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
.transform__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  gap: 40px;
}
.transform__text > h2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}
.transform__text > h2 span {
  text-transform: capitalize;
}
.transform__text > p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}
.transform__star-mobile {
  position: absolute;
  bottom: -50px;
  right: 10px;
  width: 40px;
  height: 40px;
}
.transform__img {
  display: none;
}
.transform__star3 {
  display: none;
}

@media screen and (min-width: 1024px) {
  .transform {
    margin-bottom: 176px;
  }
  .transform__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 32px;
  }
  .transform__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 40px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    gap: 40px;
  }
  .transform__text > h2 {
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: left;
  }
  .transform__text > h2 span {
    text-transform: capitalize;
  }
  .transform__text > p {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
  }
  .transform__star-mobile {
    display: none;
  }
  .transform__img {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-top: 12px;
  }
  .transform__img .transform__face__befor {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 335px;
    border-radius: 50%;
  }
  .transform__img .transform__face__after {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 335px;
    border-radius: 50%;
  }
  .transform__star1 {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 360px;
    left: 115px;
  }
  .transform__star2 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 30px;
    right: 0px;
  }
  .transform__star3 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 320px;
    right: 28px;
  }
}
.choose__us {
  margin-bottom: 96px;
}
.choose__us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}
.choose__us__container > h2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
}
.choose__us__container > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 56px;
}
.choose__us__container__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: calc(33.3333333333% - 112px);
      flex-basis: calc(33.3333333333% - 112px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  padding: 24px 32px;
  background-color: var(--color-white);
  border-radius: 32px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
          box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}
.choose__us__icon {
  -ms-flex-preferred-size: 48px;
      flex-basis: 48px;
  fill: var(--color-blue);
}
.choose__us__container__li > p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .choose__us {
    margin-bottom: 96px;
  }
  .choose__us__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 48px;
  }
  .choose__us__container > h2 {
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: center;
  }
  .choose__us__container > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 16px;
  }
  .choose__us__container__li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    padding: 24px 32px;
    border-radius: 32px;
    background-color: var(--color-white);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
            box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  }
  .choose__us__icon {
    -ms-flex-preferred-size: 48px;
        flex-basis: 48px;
    fill: var(--color-blue);
  }
  .choose__us__container__li > p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.procedures__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.procedures__content > h2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
}
.procedures__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.procedures__buttom__left {
  display: none;
}
.procedures__buttom__right {
  display: none;
}
.procedures__item {
  width: 344px;
  height: 456px;
  border-radius: 4px 120px;
  overflow: hidden;
}
.procedures__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(48.529%, rgba(1, 28, 68, 0)), color-stop(84.641%, rgba(1, 28, 68, 0.73)), color-stop(101.43%, rgb(1, 28, 68)));
  background: linear-gradient(180deg, rgba(1, 28, 68, 0) 48.529%, rgba(1, 28, 68, 0.73) 84.641%, rgb(1, 28, 68) 101.43%);
}
.procedures__cont > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.procedures__cont > p {
  color: var(--color-white);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .procedures {
    margin-bottom: 96px;
  }
  .procedures__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 48px;
  }
  .procedures__content > h2 {
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: center;
  }
  .procedures__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    gap: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .procedures__buttom__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 44px;
    height: 44px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid var(--dark-blue-color);
    border-radius: 50%;
    -webkit-backdrop-filter: blur(15.36px);
            backdrop-filter: blur(15.36px);
    cursor: pointer;
  }
  .procedures__buttom__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 44px;
    height: 44px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid var(--dark-blue-color);
    border-radius: 50%;
    -webkit-backdrop-filter: blur(15.36px);
            backdrop-filter: blur(15.36px);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    cursor: pointer;
  }
  .procedures__buttom__left > svg, .procedures__buttom__right > svg {
    fill: var(--dark-blue-color);
    width: 16px;
    height: 16px;
  }
  .procedures__item {
    width: 344px;
    height: 456px;
    border-radius: 4px 120px;
    overflow: hidden;
  }
  .procedures__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(48.529%, rgba(1, 28, 68, 0)), color-stop(84.641%, rgba(1, 28, 68, 0.73)), color-stop(101.43%, rgb(1, 28, 68)));
    background: linear-gradient(180deg, rgba(1, 28, 68, 0) 48.529%, rgba(1, 28, 68, 0.73) 84.641%, rgb(1, 28, 68) 101.43%);
  }
  .procedures__cont > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .procedures__cont > p {
    color: var(--color-white);
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.find__us {
  margin-bottom: 24px;
}
.find__us__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.find__us__content > h2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  margin: 40px 0 24px;
}

.container__maps__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 32px;
}
.container__maps__forms > iframe {
  width: 100%;
  border: none;
  border-radius: 32px;
}

.forms__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 56px;
  gap: 32px;
  border-radius: 32px;
  background: url("../../img/picture/bgf.png"), var(--color-dark-blue);
  background-position: center;
  background-size: cover;
}
.forms__content > h3 {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--color-white);
}
.forms__content > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.forms__content > form > input {
  width: 100%;
  padding: 16px;
  border-radius: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid var(--grey-color);
  background-color: transparent;
  color: var(--color-white);
}
.forms__content > form > input::-webkit-input-placeholder {
  color: var(--color-white);
}
.forms__content > form > input::-moz-placeholder {
  color: var(--color-white);
}
.forms__content > form > input:-ms-input-placeholder {
  color: var(--color-white);
}
.forms__content > form > input::-ms-input-placeholder {
  color: var(--color-white);
}
.forms__content > form > input::placeholder {
  color: var(--color-white);
}
.forms__content > form > input:focus {
  background-color: var(--grey-color);
}

@media screen and (min-width: 1024px) {
  .find__us {
    margin-bottom: 96px;
  }
  .find__us__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .find__us__content > h2 {
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
  }
  .container__maps__forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 32px;
  }
  .container__maps__forms > iframe {
    width: 100%;
    border: none;
    border-radius: 32px;
  }
  .forms__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 56px;
    gap: 32px;
    border-radius: 32px;
    background: url("../../img/picture/bgf.png"), var(--color-dark-blue);
    background-position: center;
    background-size: cover;
  }
  .forms__content > h3 {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--color-white);
  }
  .forms__content > form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  .forms__content > form > input {
    width: 100%;
    padding: 16px;
    border-radius: 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid var(--grey-color);
    background-color: transparent;
    color: var(--color-white);
  }
  .forms__content > form > input::-webkit-input-placeholder {
    color: var(--color-white);
  }
  .forms__content > form > input::-moz-placeholder {
    color: var(--color-white);
  }
  .forms__content > form > input:-ms-input-placeholder {
    color: var(--color-white);
  }
  .forms__content > form > input::-ms-input-placeholder {
    color: var(--color-white);
  }
  .forms__content > form > input::placeholder {
    color: var(--color-white);
  }
  .forms__content > form > input:focus {
    background-color: var(--grey-color);
  }
}
.footer {
  position: relative;
  background: url(../../img/picture/bgf.png), var(--color-dark-blue);
  background-position: center;
  background-size: cover;
  color: var(--color-white);
  overflow: hidden;
}
.footer__img {
  display: none;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 56px 0;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.footer .contacts {
  display: none;
}
.footer__icon__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
}
.footer__icon__ul svg {
  width: 30px;
  height: 30px;
  fill: var(--color-white);
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.footer__icon__ul svg:hover {
  fill: var(--color-blue);
}
.footer__ul p {
  color: var(--grey-color);
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}
.footer .link__footer {
  color: var(--color-white);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer .link__footer:hover {
  color: var(--color-blue);
}

@media screen and (min-width: 1024px) {
  .footer {
    position: relative;
    background: url(../../img/picture/bgf.png), var(--color-dark-blue);
    background-position: center;
    background-size: cover;
    color: var(--color-white);
    overflow: hidden;
  }
  .footer__img {
    position: absolute;
    width: 278px;
    height: 213px;
    right: -20px;
    bottom: -50px;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 56px 0;
  }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;
  }
  .footer__icon__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
  .footer__icon__ul svg {
    width: 30px;
    height: 30px;
    fill: var(--color-white);
    -webkit-transition: fill 0.3s;
    transition: fill 0.3s;
  }
  .footer__icon__ul svg:hover {
    fill: var(--color-blue);
  }
  .footer__ul p {
    color: var(--grey-color);
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
  }
  .footer .link__footer {
    color: var(--color-white);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .footer .link__footer:hover {
    color: var(--color-blue);
  }
}
.modal {
  top: 0;
  left: 0;
  background: rgba(1, 31, 74, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 11;
}
.modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal .modal__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* окно */
  max-width: 723px;
  width: 100%;
  height: 681px;
  left: 0;
  top: 0;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 56px;
  gap: 32px;
  border-radius: 32px;
  background: url("../../img/picture/bgf.png"), var(--color-dark-blue);
  background-position: center;
  background-size: cover;
}
.modal .modal__content > h2 {
  color: var(--color-white);
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
}
.modal .modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.modal .modal__close > svg {
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}
.modal .forms__content__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.modal .forms__content__modal > h3 {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--color-white);
}
.modal .forms__content__modal > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.modal .forms__content__modal > form > input {
  width: 100%;
  padding: 16px;
  border-radius: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid rgb(116, 114, 114);
  background-color: transparent;
  color: var(--color-white);
}
.modal .forms__content > form > input::-webkit-input-placeholder {
  color: var(--color-white);
}
.modal .forms__content > form > input::-moz-placeholder {
  color: var(--color-white);
}
.modal .forms__content > form > input:-ms-input-placeholder {
  color: var(--color-white);
}
.modal .forms__content > form > input::-ms-input-placeholder {
  color: var(--color-white);
}
.modal .forms__content > form > input::placeholder {
  color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  .modal {
    top: 0;
    left: 0;
    background: rgba(1, 31, 74, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 11;
  }
  .modal.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal .modal__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* окно */
    width: 723px;
    height: 681px;
    left: 0;
    top: 0;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 56px;
    gap: 32px;
    border-radius: 32px;
    background: url("../../img/picture/bgf.png"), var(--color-dark-blue);
    background-position: center;
    background-size: cover;
  }
  .modal .modal__content > h2 {
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: center;
  }
  .modal .modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  .modal .modal__close > svg {
    width: 20px;
    height: 20px;
    fill: var(--color-white);
  }
  .modal .forms__content__modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }
  .modal .forms__content__modal > h3 {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--color-white);
  }
  .modal .forms__content__modal > form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  .modal .forms__content__modal > form > input {
    width: 100%;
    padding: 16px;
    border-radius: 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid rgb(116, 114, 114);
    background-color: transparent;
    color: var(--color-white);
  }
  .modal .forms__content > form > input::-webkit-input-placeholder {
    color: var(--color-white);
  }
  .modal .forms__content > form > input::-moz-placeholder {
    color: var(--color-white);
  }
  .modal .forms__content > form > input:-ms-input-placeholder {
    color: var(--color-white);
  }
  .modal .forms__content > form > input::-ms-input-placeholder {
    color: var(--color-white);
  }
  .modal .forms__content > form > input::placeholder {
    color: var(--color-white);
  }
}
.vector-hero {
  position: absolute;
  width: 2101px;
  height: 1923px;
  top: -1198px;
  z-index: 1;
}

.vector-centr {
  position: absolute;
  width: 100%;
  height: 973px;
  top: 623px;
  z-index: -1;
}

.vector-m {
  width: 100%;
  height: 1785px;
  background-image: url("../img/background-vector/vm.png");
  background-position: top;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
  .vector-hero {
    position: absolute;
    width: 2101px;
    height: 1923px;
    top: -1198px;
    z-index: 1;
  }
  .vector-centr {
    position: absolute;
    width: 100%;
    height: 2550.89px;
    top: 1200px;
    z-index: -1;
  }
  .vector-m {
    width: 100%;
    height: 1785px;
    background-image: url("../img/background-vector/vm.png");
    background-position: top;
    background-repeat: no-repeat;
  }
}
.swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 416px !important;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  display: block;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 0 0;
}

@media screen and (min-width: 1024px) {
  .swiper-container {
    width: 100%;
    overflow: hidden;
  }
  .swiper-slide {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 344px !important;
    height: 456px !important;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    display: block;
  }
  .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0 0 0;
  }
}/*# sourceMappingURL=main.css.map */