:root{
/* Primary colors */
--color-blue: #2B7FFF;
--color-white: #fff;
--color-dark-blue: #011C44;
/* Secondary colors */

--dark-grey-color: #4A4A4A;
--grey-color: #747272;
--dark-blue-color: #011F4A;
--yellow-color: #FFD02B;

--text-play: Play;
--text-roboto: Roboto;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto;
    color: var(--color-dark-blue);
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 100px;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
    color: var(--color-dark-blue);
}
.buttom{
    width: 230px;
    padding: 16px 32px;
    border-radius: 32px;
    font-weight: 600;
    font-size: 18px;
    background: var(--color-blue);
    border: 2px solid var(--color-blue);
    color: var(--color-white);
    border-radius: 32px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
}
.buttom:hover{
    background: none;
    color: var(--dark-blue-color);
}
.h-span{
    color: var(--color-blue);
}

/* header */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px 0;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-ul{
    display: flex;
    flex-direction: row;
    gap: 56px;
}
.icon-ul{
    display: flex;
    flex-direction: row;
    gap: 43px;
}
.link{
    color: var(--color-dark-blue);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}
.link:hover{
    color: var(--color-blue);
}
.link-icon > svg{
    width: 30px;
    height: 30px;
    fill: var(--dark-blue-color);
}
.link-icon :hover{
    fill:var(--color-blue);
}
/* hero */
.hero{
    background:  linear-gradient(94.33deg, rgb(255, 255, 255) 30.533%,rgba(255, 255, 255, 0.85) 41.2%,rgba(255, 255, 255, 0.19) 58.516%,rgba(255, 255, 255, 0) 72.621%), url(../beauty-zone/img/picture/background-hero.jpeg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.hero-content{
    padding: 125px 0 125px 100px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
}
.hero-container-1{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}
.hero-container-2{
    display: flex;
    flex-direction: column;
    width: 240px;
}
.hero-content-1{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}
.hero-content-title{
    color: var(--color-blue);
    font-family: Play;
    font-size: 140px;
    font-weight: 700;
    line-height: 114px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;

}
.hero-button{
    margin-bottom: 14px;
}
.hero-content-2{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}
/* transform */
.transform{
    margin-bottom: 176px;
}
.container-transform{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.transform-text{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-top: 40px;
    flex-basis: 50%;
    gap: 40px;
}
.transform-text > h2{
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: left;
}
.transform-text > h2 span{
    text-transform: capitalize;
}
.transform-text > p{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.transform-img{
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-basis: 50%;
    padding-top: 12px;
}
.transform-img .transform-face-befor{
    align-self: flex-start;
}
.transform-img .transform-face-after{
    align-self: flex-end;
}
.transform-img > img {
    width: 335px;
    border-radius: 50%;
}
/* choose-us */
.choose-us{
    margin-bottom: 96px;
}
.containet-choose-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.containet-choose-us > h2{
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: center;
}
.containet-choose-us > ul{
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    gap: 56px;
}
.containet-choose-us-li{
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% / 3) - 112px);
    justify-content: center;
    gap: 10px;
    padding: 24px 32px;
    border-radius: 32px;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}
.choose-us-icon{
    flex-basis: 48px;
    fill: var(--color-blue);
}
.containet-choose-us-li > p{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
/* procedures */
.procedures{
    margin-bottom: 96px;
}
.content-procedures{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.content-procedures > h2{
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: center;
}
.procedures-slider{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}
.procedures-buttom-left{
    
}
.procedures-list{
    display: flex;
    flex-direction: row;
}
.procedures-item{
    height: 456px;
    border-radius:4px 120px;
    background: linear-gradient(180.00deg, rgba(1, 28, 68, 0) 48.529%,rgba(1, 28, 68, 0.73) 84.641%,rgb(1, 28, 68) 101.43%)
}