:root{
/* Primary colors */
--color-blue: #2B7FFF;
--color-white: #fff;
--color-dark-blue: #011C44;
/* Secondary colors */

--dark-grey-color: #4A4A4A;
--grey-color: #747272;
--dark-blue-color: #011F4A;
--yellow-color: #FFD02B;

--text-play: Play;
--text-roboto: Roboto;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto;
    color: var(--color-dark-blue);
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 100px;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
    color: var(--color-dark-blue);
}
.buttom{
    width: 230px;
    padding: 16px 32px;
    border-radius: 32px;
    font-weight: 600;
    font-size: 18px;
    background: var(--color-blue);
    border: 2px solid var(--color-blue);
    color: var(--color-white);
    border-radius: 32px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
}
.buttom:hover{
    background: none;
    color: var(--dark-blue-color);
}
.h-span{
    color: var(--color-blue);
}
/* header */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px 0;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-ul{
    display: flex;
    flex-direction: row;
    gap: 56px;
}
.icon-ul{
    display: flex;
    flex-direction: row;
    gap: 43px;
}
.link{
    color: var(--color-dark-blue);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}
.link:hover{
    color: var(--color-blue);
}
.link-icon > svg{
    width: 30px;
    height: 30px;
    fill: var(--dark-blue-color);
}
.link-icon :hover{
    fill:var(--color-blue);
}
/* hero */
.hero{
    background:  linear-gradient(94.33deg, rgb(255, 255, 255) 30.533%,rgba(255, 255, 255, 0.85) 41.2%,rgba(255, 255, 255, 0.19) 58.516%,rgba(255, 255, 255, 0) 72.621%), url(../beauty-zone/img/picture/background-hero.jpeg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.hero-content{
    padding: 125px 0 125px 100px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
}
.hero-container-1{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}
.hero-container-2{
    display: flex;
    flex-direction: column;
    width: 240px;
}
.hero-content-1{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}
.hero-content-title{
    color: var(--color-blue);
    font-family: Play;
    font-size: 140px;
    font-weight: 700;
    line-height: 114px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;

}
.hero-button{
    margin-bottom: 14px;
}
.hero-content-2{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}
/* transform */
.transform{
    margin-bottom: 176px;
}
.container-transform{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.transform-text{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-top: 40px;
    flex-basis: 50%;
    gap: 40px;
}
.transform-text > h2{
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: left;
}
.transform-text > h2 span{
    text-transform: capitalize;
}
.transform-text > p{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.transform-img{
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-basis: 50%;
    padding-top: 12px;
}
.transform-img .transform-face-befor{
    align-self: flex-start;
}
.transform-img .transform-face-after{
    align-self: flex-end;
}
.transform-img > img {
    width: 335px;
    border-radius: 50%;
}
/* choose-us */
.choose-us{
    margin-bottom: 96px;
}
.containet-choose-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.containet-choose-us > h2{
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: center;
}
.containet-choose-us > ul{
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    gap: 56px;
}
.containet-choose-us-li{
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% / 3) - 112px);
    justify-content: center;
    gap: 10px;
    padding: 24px 32px;
    border-radius: 32px;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}
.choose-us-icon{
    flex-basis: 48px;
    fill: var(--color-blue);
}
.containet-choose-us-li > p{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
/* procedures */
.procedures{
    margin-bottom: 96px;
}
.content-procedures{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.content-procedures > h2{
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: center;
}
.procedures-slider{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    gap: 32px;
    justify-content: center;
    align-items: center;
}
.procedures-buttom-left{
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid var(--dark-blue-color);
    border-radius: 50%;
    backdrop-filter: blur(15.36px);
    cursor: pointer;
}
.procedures-buttom-right{
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid var(--dark-blue-color);
    border-radius: 50%;
    backdrop-filter: blur(15.36px);
    transform: rotate(180.00deg);
    cursor: pointer;
}
.procedures-buttom-left > svg ,
.procedures-buttom-right > svg{
    fill: var(--dark-blue-color);
    width: 16px;
    height: 16px;
}
.procedures-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.procedures-item{
    position: relative;
    width: 344px;
    height: 456px;
    border-radius:4px 120px;
    background: linear-gradient(180.00deg, rgba(1, 28, 68, 0) 48.529%,rgba(1, 28, 68, 0.73) 84.641%,rgb(1, 28, 68) 101.43%)
}
.procedures-item > img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
}
/* find-us */
.find-us{
    margin-bottom: 96px;
}
.content-find-us{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content-find-us > h2{
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
.container-maps-forms{
    display: flex;
    flex-direction: row;
    gap: 32px;

}
.container-maps-forms > iframe{
    width: 100%;
    border: none;
    border-radius: 32px;
}
.forms-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px;
    gap: 32px;
    border-radius: 32px;
    background: var(--color-dark-blue);
}
.forms-content > h3{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--color-white);
}
.forms-content > form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.forms-content > form > input{
    width: 100%;
    padding: 16px;
    border-radius: 32px;
    box-sizing: border-box;
    border: 2px solid rgb(116, 114, 114);
    background-color: transparent;
    color: var(--color-white);
}
.forms-content > form > input::placeholder{
    color: var(--color-white);
}
.forms-button{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 8;
}
.forms-button > input{
    display: flex;
    width: 95%;
    padding: 16px 32px 16px 32px;
    border-radius: 32px;
    background: var(--color-blue);
    color: var(--color-white);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}
.forms-button > p {
    color: rgb(116, 114, 114);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}
.forms-file{
    color: rgb(116, 114, 114);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
}
.modal{
    top: 0;
    left: 0;
    background: rgba(1, 31, 74, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    /* окно */
    width: 723px;
    height: 681px;
    left: 0;
    top: 0;
    margin: 0 auto;
    align-items: center;
    padding: 56px;
    gap: 32px;
    border-radius: 32px;
    background: var(--color-dark-blue);
}
.modal-close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background:none;
    border: none;
    cursor: pointer;
    z-index: 1;
}
.modal-close > use{
    width: 40px;
    height: 40px;
    fill: var(--color-white);
}
.modal-content > h2{
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: center;
}
.forms-content-modal{
    display: flex;
    flex-direction: column;
    gap: 32px;

}
.forms-content-modal > h3{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--color-white);
}
.forms-content-modal > form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.forms-content-modal > form > input{
    width: 100%;
    padding: 16px;
    border-radius: 32px;
    box-sizing: border-box;
    border: 2px solid rgb(116, 114, 114);
    background-color: transparent;
    color: var(--color-white);
}
.forms-content > form > input::placeholder{
    color: var(--color-white);
}
/* footer */
footer{
    background: var(--color-dark-blue);
    color: var(--color-white);
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 56px 0;
}
.footer-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.footer-ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
.link-footer{
    color: var(--color-white);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.link-footer:hover{
    color: var(--color-blue);
}
.footer-icon-ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.footer-icon-ul svg{
    width: 30px;
    height: 30px;
    fill: var(--color-white);
}
.footer-icon-ul svg:hover{
    fill: var(--color-blue);
}
.footer-ul p{
    color: var(--grey-color);
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
}