.choose__us{
    margin-bottom: 96px;


    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
    }
    &__container > h2{
        font-family: Play;
        font-size: 64px;
        font-weight: 700;
        line-height: 74px;
        letter-spacing: 0%;
        text-align: center;
    }
    &__container > ul{
        display: flex;
        flex-basis: 100%;
        flex-direction: row;
        gap: 56px;
    }
    &__container__li{
        display: flex;
        flex-direction: column;
        flex-basis: calc((100% / 3) - 112px);
        justify-content: center;
        gap: 10px;
        padding: 24px 32px;
        border-radius: 32px;
        box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
    }
    &__icon{
        flex-basis: 48px;
        fill: var(--color-blue);
    }
    &__container__li > p{
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
    }
}
