.header{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px 0;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);


    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: opacity 0.3s ease-in-out;
    }

    &__container.headeroff {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    &__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .nav__ul{
            display: none;
        }
    }
    .icon__ul{
        display: none;
    }
    .header__button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        padding: 2px;
        cursor: pointer;
    }
    .header__button > svg{
        fill: var(--color-blue);
        width: 22px;
        height: 22px;
    }



    .link__icon > svg{
        width: 30px;
        height: 30px;
        fill: var(--dark-blue-color);
        transition: fill .3s;
        &:hover{
            fill:var(--color-blue);
        }
    }
    &__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 100vh;
        z-index: 15;
        background-color: var(--color-white);
        padding: 35px;
        transform: translateX(100%);
        transition: transform .5s , opacity .3s , visibility .3s, width .6s;
        opacity: 0;
        visibility: hidden;
    }

    &__menu.header__menu__on {
        width: 100%;
        transform: translateX(0);
        visibility:visible;
        opacity: 1;
    }
    &__menu__line{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    &__button__close{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        border: none;
        background-color: transparent;
        padding: 2px;
        cursor: pointer;
    }
    &__button__close > svg{
        fill:var(--color-blue);
    }
    .nav__ul__mobile{
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
    }
    .link{
        color: var(--color-dark-blue);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;
        transition: color .3s;

        &:hover{
            color: var(--color-blue);
        }

    }
    .icon__ul__mobile{
        display: flex;
        flex-direction: row;
        gap: 27px;
    }
}


@media screen and (min-width: 1024px) {
    .header{
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        padding: 32px 0;
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.25);
    
    
        &__container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &__nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            .nav__ul{
                display: flex;
                flex-direction: row;
                gap: 56px;
                
    
            }

        }

        .header__button{
            display: none;
        }

        .icon__ul{
            display: flex;
            flex-direction: row;
            gap: 43px;
    
            .link{
                color: var(--color-dark-blue);
                font-family: Roboto;
                font-size: 18px;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0%;
                text-align: left;
                transition: color .3s;
    
                &:hover{
                    color: var(--color-blue);
                }
    
            }
        }
    
        .link__icon > svg{
            width: 30px;
            height: 30px;
            fill: var(--dark-blue-color);
            transition: fill .3s;
            &:hover{
                fill:var(--color-blue);
            }
        }

    }
}