.swiper-container{
    width: 100%;
    overflow: hidden;
}
.swiper-slide {
    flex-shrink: 0;
    width: 344px !important;
    height: 456px !important;
    position: relative;
    transition-property: transform;
    display: block;
}
.pagination{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

